<div class="viewer-canvas" id="viewer-canvas">
  <div class="button-row">
    <button class="button" id="loader-button" matTooltip="Load IFC models" mat-icon-button color="primary" (click)="ifcUpload.click()">
      <mat-icon>folder</mat-icon>
    </button>
    <input #ifcUpload type="file" multiple="multiple" accept=".ifc" (change)="onIFCLoad($event)" style="display:none">


    <button class="button" *ngIf="models.length > 0" matTooltip="Start 4D Simulation" mat-icon-button color="primary" (click)="initSimulationFromProps()">
      <mat-icon>play_arrow</mat-icon>
    </button>
  </div>

  <div class="toggle-column">
    <mat-slide-toggle
      [(ngModel)]="baselineDates">
      Baseline Schedule ?
    </mat-slide-toggle>
  </div>



</div>


<!-- CONTEXT MENU -->
<ifc-viewer-context-menu
    [menuTopLeftPosition]="contextMenuPosition"
    [clickContext]="elementClickContext"
    [buttonVisibility]="contextMenuButtons"
    (onShowProperties)="showPropertiesPanel()"
    >

    <ng-container contextMenu>
        <ng-content select="[contextMenu]"></ng-content>
    </ng-container>

</ifc-viewer-context-menu>

<app-slider
  class="slider"
  *ngIf="dateRangeSettings"
  [datesRange]="dateRangeSettings"
  (onChangedDate)="highlightElementsOnDate($event)"
  >
</app-slider>



