.viewer-container {
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  outline: none;
  background-image: linear-gradient(to right top, rgb(255, 239, 239), #ffd0da, #fdd9c8, #f6e1c6, #f7f8cb);
}

#three-canvas{
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 1;
}

#viewer-canvas{
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.button-row {
  position: fixed;
  top: 5px;
  left: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

.toggle-column {
  position: fixed;
  top: 60px;
  left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
}


::ng-deep .button.mat-icon-button:hover .mat-button-focus-overlay {
  opacity: 0.1 !important;
}

.slider {
  position: absolute;
  bottom: 50px;
  width: 90vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%)
}
